<div class="container color">
  <footer class="row row-cols-5 py-5 my-5">
    <div class="col">
      <h5>ABOUT PETFINDER</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a class="nav-link p-0">About Petfinder</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0">FAQs</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0">Partnerships</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0">Terms of Service</a></li>
        <li class="nav-item mb-2"><a class="nav-link p-0">Mobile Site % Apps</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Pet Adoption</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Dog Adoption</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Cat Adoption</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Other Pet Adoption</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Search Adoption Organizations</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Happy Tails Pet Adoption</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>PET CARE TOPICS</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Dog Care</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Dog Breeds</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Cat Care</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Cat Breeds</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">All Pet Care</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>SITEMAP</h5>
      <h5 class="pt-4">PRIVACY POLICY (UPDATED)</h5>
      <h5 class="pt-4">ABOUT OUR ADS</h5>
      <h5 class="pt-4">SHELTER & RESCUE REGISTRATION</h5>
      <h5 class="pt-4">DO NOT SELL MY PERSONAL INFORMATION</h5>
    </div>

    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">To get the latest on pet adoption and pet
            care, sign up to hear from us.</a></li>
      </ul>
      <div class="d-grid gap-2 col-16 mx-auto">
        <button class="btn btn-outline-success" type="button">SIGN UP</button>
      </div>
    </div>
  </footer>
</div>