<div class="size">
  <div class="card" style="width: 18rem;">
    <span class="position-absolute translate-middle btn">
      <svg class="bi position-absolute" width="25" height="25" fill="purple">
        <use xlink:href="/assets/bootstrap-icons.svg#heart" />
      </svg>
    </span>
    <span class="position-absolute badge start-50 translate-middle">.</span>
    <img src="assets/ajay2.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text text-center da">Ajay</p>
    </div>
  </div>
</div>