<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/petfinder-logo2.jpg" alt="" height="40">
    </a>
    <button type="button" class="btn da ms-2">Breeds</button>
    <button type="button" class="btn da">Resources</button>
    <div class="d-flex">
      <form>
        <div class="input-group">
          <span class="input-group-text border-0 da" id="basic-addon1">
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#search" />
            </svg>
          </span>
          <input type="text" class="form-control" placeholder="Search Articles:" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
      </form>
      <button type="button" class="btn ms-2">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#heart-fill" />
        </svg>
      </button>
      <button type="button" class="btn da ms-2">Sign up</button>
      <button type="button" class="btn da">Log in</button>
    </div>
  </div>
</nav>